nav {
  height: 120px;
  background: #4056A1;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 30px;
  margin-left: 1.5em;
  align-self: center;
}

.textAndIcon {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 20px;
  gap: 5px;
}

.newTweet {
  margin-right: 1.5em;
}

.arrowIcon {
  align-self: center;
  color: red;
  margin-right: 15px;
}

@media only screen and (max-width: 767px) {
  nav {
    background-color: #d1a700;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    position: fixed;
    height: 60px;
  }
}

